<div class="panel panel-default">
  <div class="panel-body">
    <div class='col-sm-5'>
      <dl class='dl-horizontal'>
        <dt>Official Name</dt>
        <dd><%= @drug.label %></dd>
        <dt>Ontological Reference</dt>
        <dd>RxCUI:<%= @term_curie %></dd>
      </dl>
    </div>
    <div class='col-sm-7'>
      <dl class='dl-horizontal'>
        <dt>External Resources</dt>
        <dd>
            <%= link_to drug_external_resources_drugs_path(@drug), :class => "text-black"  do %>
              View external resources
            <% end %>
        </dd>
      </dl>
    </div>
  </div>