<div class="panel panel-default">
  <div class="panel-body">
    <div class='col-sm-6'>
      <dl class='dl-horizontal'>
        <dt>Official Name</dt>
        <dd><%= @condition.label %></dd>
        <dt>Ontological Reference</dt>
        <dd><%= @condition.curie %></dd>
        <dt>Definition</dt>
        <dd>@condition.definition</dd>
        <dt>Synonyms</dt>
        <dd>[Synonyms]</dd>
      </dl>
    </div>
    <div class='col-sm-6'>
      <dl class='dl-horizontal'>
        <dt>Curated Genes</dt>
        <dd><a href='#condition1' class="label label-primary">GENE123</a> <a href='#condition2' class="label label-primary">GENE345</a></dd>
        <dt>Genomic Resources</dt>
        <dd><a href='#infobutton' role="tab" data-toggle="tab">9 external resources located</a></dd>
      </dl>
    </div>
  </div>