<div class="container">
    <div id="curation_dashboard" class="row"> 
        
        <%= @agents %>
        <%= @agents.inspect %>
        <%= @hello_message %>

        <% @agents.each do |f| %>
          <%= f.email %><br/><hr/>
        <% end %>
       
       <div class="col-sm-12 padding-top-md">
         <h2>Hello Scott!!!</h2>
         
         <div class="panel panel-default ">
         <div class="panel-heading">
         
         <ul class="nav nav-tabs" id="myTabs" role="tablist"><a href="#" class="btn btn-success pull-right margin-right-lg btn-sm"><i class="glyphicon glyphicon-book"></i> Start New Contribution</a> <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><i class="glyphicon glyphicon-book"></i> Your curation contributions <span class="badge">23</span></a></li> <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><i class="glyphicon glyphicon-ok"></i> Terms being followed <span class="badge">151</span></a></li> </ul> 
           </div>
         <div class=" tab-content" id="myTabContent"> 
         
         <div class="tab-pane fade in active" role="tabpanel" id="home" aria-labelledby="home-tab"> 
         
         <table class="table"><thead> <tr> <th>Gene</th> <th>Condition</th>
           <th>Created</th>
           <th>Updated</th>
           <th>Status</th>
           <th></th>
           <th class="col-sm-1">&nbsp;</th>
           </tr> 
           </thead> <tbody> 
           	<tr> <td>ZAQ1 [HCNX:1234]</td> <td>Cancer ABC [OMIM:1234]</td>
               <td>12/12/16</td>
               <td>1/12/17</td>
               <td>In Process</td>
               <td><a href="#" class="btn btn-info btn-xs btn-block">Review</a></td>
               <td><a href="#" class="btn btn-link btn-xs"><i class="glyphicon glyphicon-trash"></i> Remove</a></td>
               </tr> 
            </tbody> </table>
           </div>
         <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab"> 
         <table class="table">
           <thead>
             <tr>
               <th class="col-sm-3">Term</th>
               <th class="col-sm-2">Ontology ID</th>
               <th class="col-sm-2">Type</th>
               <th class="col-sm-1">Last Curated</th>
               <th class="col-sm-2">&nbsp;</th>
               <th class="col-sm-1">&nbsp;</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>ZAQ1</td>
               <td>HCNX:1234</td>
               <td>Gene</td>
               <td>1/12/17</td>
               <td><a href="#" class="btn btn-info btn-xs btn-block">View  In Knowledge-base</a></td>
               <td><a href="#" class="btn btn-link btn-xs"><i class="glyphicon glyphicon-trash"></i> Remove</a></td>
             </tr>
             
           </tbody>
         </table>
         <p>&nbsp;</p> 
         </div>  
         </div>
       </div></div>
       
      
    </div>

</div>