<div id="notes_show" class="container">
  <div class="row">
    <div class="col-sm-12 padding-top-md">
      <h2>Share your knowledge</h2>
      ClinGen would like your help in our curation activities!  As you review literature in your daily work, we encourage you to document evidence that may be useful as we work to determine the clinical relevance of genes and variants.  Your information will be reviewed by ClinGen biocurators, and may be used in future curations.  Fill out the parts of this form that are relevant to the specific study you are evaluating.  Thank you for your participation!

      <hr />
      <%= render 'note_form', action: :create %>
    </div>
  </div>
</div>
