<div id="notes_show" class="container">
  <div class="row">
    <div class="col-sm-12 padding-top-md">
      <h2>Share your knowledge</h2>
      <p>ClinGen would like your help in our curation activities! Fill out the form below if:</p>
      <ul class="margin-left-lg list-unstyled">
				<li><i class='glyphicon glyphicon-arrow-right text-muted'></i> You notice one of our curations is out of date</li>
				<li><i class='glyphicon glyphicon-arrow-right text-muted'></i> You publish a paper you feel may be relevant to our curation efforts</li>
				<li><i class='glyphicon glyphicon-arrow-right text-muted'></i> You’d like to request that ClinGen evaluate a particular gene, or</li>
				<li><i class='glyphicon glyphicon-arrow-right text-muted'></i> You’d like to document evidence you’ve come across in your own reviews of the literature</li>
      </ul>
 <p>Your information will be reviewed by ClinGen biocurators, and may be used in future curations. Fill out the parts of this form that are relevant to the specific study you are evaluating – you may include as much or as little detail as you like. Thank you for your participation!</p>

      <hr />
      <%= render 'note_form', action: :create %>
    </div>
  </div>
</div>
