<div id="notes_show" class="container">
  <div class="row">
    <div class="col-sm-12 padding-top-md">
      <h2>Share your knowledge</h2>
      ClinGen wants to hear about the papers and publications you have read that may help our curation efforts.

      <hr />
      <%= render 'note_form', action: :create %>
    </div>
  </div>
</div>
