<table class="table table-hover  border-left table-condensed">
  <thead>
    <tr>
      <th class="col-sm-10" colspan="2">Dosage Sensitivity of <%= dosage.genes.first.symbol %> and <%= dosage.diseases.first.label %></th>
      <th class="col-sm-2 text-center"><a class="btn btn-link btn-xs"><i class="glyphicon glyphicon-file"></i> View Details</a></th>
    </tr>
  </thead>
  <thead class="thead-labels">
    <tr>
      <th class="col-sm-5">Sensitivity Classification</th>
      <th class="col-sm-7">Description</th>
    </tr>
  </thead>
  <tbody>
    <% dosage.interpretation.each do |i| %>
      <tr>
        <td><%= i.label %></td>
      </tr>
    <% end %>
  </tbody>
</table>
