<div id="gene_dosage_index" class="container">
	<h1>Gene Dosage Curation</h1>

	<table class="table table-condensed">
		<thead>
			<th>Gene</th>
			<th>Haploinsufficiency</th>
			<th>Triplosensitivity</th>
      <th>Reviewed</th>
			<th></th>
		</thead>
		<tbody>
                  <% @genes.each do |g| %>
		    <tr>
		      <td>
			<%= link_to g.label, g %>
		      </td>
                      <td>
                        <% if a = g.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
                          <%= a.interpretation.first.label %>
                        <% end %>
                      </td>
                      <td>
                        <% if a = g.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
                          <%= a.interpretation.first.label %>
                        <% end %>
                      </td>
                      <td>
                        <%= g.dosage_assertions.first.date %>
                      </td>
		    <td><a href="#"><i class="glyphicon glyphicon-new-window"></i></a></td>
		    </tr>
  	          <% end %>
		</tbody>
	</table>
</div>
