<div id="actionability_curation_index" class="container">
  <h2>Actionability curations </h2>
  The summaries provide information on gene-condition pairs that meet a clinical actionability threshold for pathologic variants in the gene, and are prepared using a transparent, systematic, evidence-based process. A protocol guides the summary development, which includes quality rating of the evidence. An expert panel reviews the summaries and applies a semi-quantitative method to score the overall clinical actionability of gene variants discovered incidental to another diagnostic investigation. For scoring, specific intervention-outcome pairs are chosen for each genetic disorder under consideration. Clinical interventions are chosen based on their effectiveness for prevention or delay of clinical disease, lowered clinical burden, or improved clinical outcomes in a previously undiagnosed adult.

<h3 id="sqm">Semi-quantitative Metric (SQM)</h3>
   <table class="table table-striped">
     <tbody><tr height="29">
       <td height="29" width="88"><p>Category</p></td>
       <td width="330"><p>Levels</p></td>
       <td width="204"><p>Level of Evidence</p></td>
     </tr>
     <tr height="84">
       <td height="84" width="88"><p>Severity</p></td>
       <td width="330"><p>3 - sudden death</p>
         <p>2 - possible death or major morbidity</p>
         <p>1 -&nbsp; modest morbidity</p>
         <p>0 - minimal or no morbidity</p></td>
       <td width="204"><p>NA</p></td>
     </tr>
     <tr height="103">
       <td height="103" width="88"><p>Likelihood of Disease</p></td>
       <td width="330"><p>3 - &gt;40% chance</p>
         <p>2 - 5-39% chance</p>
         <p>1 - 1-4% chance</p>
         <p>0 - &lt;1% chance or unknown</p></td>
       <td width="204"><p>A = substantial evidence</p>
         <p>B = moderate evidence</p>
         <p>C = minimal evidence</p>
         <p>D = poor evidence</p>
         <p>E = expert contributed evidence</p></td>
     </tr>
     <tr height="103">
       <td height="103" width="88"><p>Efficacy of Intervention</p></td>
       <td width="330"><p>3 - highly effective<br>
         2 - moderately effective<br>
         1 - minimally effective</p>
         <p>0 - ineffective/no intervention</p>
         <p>IN* – ineffective/no intervention</p></td>
       <td width="204"><p>A = substantial evidence</p>
         <p>B = moderate evidence</p>
         <p>C = minimal evidence</p>
         <p>D = poor or conflicting evidence</p>
         <p>E = expert contributed evidence</p></td>
     </tr>
     <tr height="142">
       <td height="142" width="88"><p>Nature of Intervention</p></td>
       <td width="330"><p>3 - low risk/medically acceptable/ low   intensity intervention</p>
         <p>2 - moderately acceptable/risk/   intensive interventions</p>
         <p>1 - greater risk/less acceptable/   substantial interventions</p>
         <p>0 - high risk/poor acceptable/   intensive or no intervention</p></td>
       <td width="204"><p>NA</p></td>
     </tr>
   </tbody></table>

   <%= render "actionability_assertion_table", assertions: @assertions%>
</div>
