<% # args: [actionability] structure to render, [gene] [disease] [index] which (:gene/:disease) the index is based on %>
  <tbody>
    <% if assertion = actionability.find { |a| a[index].include?(index_id) } %>
        <tr>
          <td><%= info_popover("actionability", "help", "" ,"logo-inline") %></td>
          <td>
            <strong>View report for scoring details</strong>
          </td>

          <td class=" text-center">
            
          </td>
          <td class=" text-center">
            <%= mdy_date(assertion[:date]) %>
          </td>
          <td class=" text-center">
            <a href="<%= assertion[:report] %>" target='file' class='btn btn-xs btn-success'>View report</a>
          </td>
        </tr>
    <% end  %>
  </tbody>
