<div class='pull-right'>
  <%= link_to dashboard_index_path, :class => "btn btn-default btn-sm btn-search-edit margin-bottom-md"  do %>
    <i class="glyphicon glyphicon-th-list"></i> Your Dashboard
  <% end %>
  <%= link_to edit_agent_registration_path, :class => "btn btn-default btn-sm btn-search-edit margin-bottom-md"  do %>
    <i class="glyphicon glyphicon-user"></i> Profile
  <% end %>
  <%= link_to destroy_agent_session_path, :method => :delete, :class => "btn btn-default btn-sm btn-search-signout margin-bottom-md"  do %>
    <i class="glyphicon glyphicon-off text-danger"></i> Sign Out
  <% end %>
</div>