<% if(@genes) %>
  <div class='row margin-bottom-sm ADDCLASSIFCURATED' id='result_ADDIDHERE'>
  <div class='col-sm-8'>
    <h4 class='margin-top-none'><%= link_to gene.symbol, gene %></a></h4>
    <div>
      <%= link_to genes_path+"/"+gene.hgnc_id, genes_path+"/"+gene.hgnc_id %> <span class='badge text-xs'>Gene</span>
    </div>
    
    <div class='text-sm text-muted'>
      <%= gene.name ? gene.name : "NULL" %>
    </div>
    
  </div>
  <%= entity_assertion_key gene %>
  <div class='col-sm-2 text-right text-tight text-sm text-muted'>
    <!--MOST RECENT CURATED DATE -->MM/DD/YYYY
  </div>

  <hr class='col-sm-12' />
  </div>
<% end %>
