<div id="home_knowledge_search" class="container container-trans">
  <div class="row">
    <div class="col-sm-12 curated-stats">
      <h2>Defining the clinical relevance of genes &amp; variants for precision medicine and research...</h2>      </div>
    <div class="col-sm-8 col-sm-offset-2 curated-stats">
      <div class="col-sm-3">
        <h1><a href="/clingen-tools-and-work-products/clingen-curated/" class="count">785</a></h1>
        <a href="/clingen-tools-and-work-products/clingen-curated/">Curated Genes</a>
      </div>
      <div class="col-sm-3">
        <h1><a href="/clingen-tools-and-work-products/clingen-curated/" class="count">275</a></h1>
        <a href="/clingen-tools-and-work-products/clingen-curated/">Curated Conditions</a>
      </div>
      <div class="col-sm-3">
        <h1><a href="/expert-groups/" class="count">10</a></h1>
        <a href="/expert-groups/">Expert Panels</a>
      </div>
      <div class="col-sm-3">
        <h1><a href="/curated-search/query/"><i class="glyphicon glyphicon-search curated-stats-search"></i></a></h1>
        <a href="/curated-search/query/">Search</a>
      </div>
    </div>
  </div>
</div>
