<div class="col-sm-12">
	<div class="well text-center">
		<strong><%= @term %></strong> wasn't a match in our system.  Please try a different or choose one of the tabs above to filter the results.
	</div>
</div>