<div id="header_nav_micro">
  <div class="container container-trans">
    <div class="clearfix row">
      
      <nav id='nav_micro' class=" hidden-sm hidden-xs">
        <ul class='list-inline'>
          <li class=''>
            <a class='' href='#' title='$' >Contact</a>
          </li>
          <li class=''>
            <a class='' href='#' title='$' >Site Search</a>
          </li>
          <li class=''>
            <a class='' href='#' title='$' >News &amp; Announcements</a>
          </li></ul>          </nav>
      <ol class='pull-left breadcrumb'><li class=''><a href='/' class='' title=''>ClinGen</a></li></ol>      </div>
  </div>
</div>
<div id="header_nav_micro_tray" style="display:none">
  <div class="container">
    <div class="clearfix row">
      Buttons
    </div>
  </div>
</div>
<div id="header_nav_main">
  <div class="container">
    <div class="header clearfix row">
      <div id='header_logo_div' class="text-muted pull-left">
        <a id='header_logo_href' href="/">
          <img  id='header_logo_img' src="/site/templates/assets/rebrand/logo/logo.png" alt="" />
        </a>
      </div>
      <div id='nav_mobile' class="dropdown pull-right visible-sm visible-xs">
        <button id="SiteNav" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Navigation
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="SiteNav">
          <ul class='nav nav-pills pull-right'>
            <li class='' role='presentation' id='ref_5297' >
              <a class='' href='/clingen-tools/' title='' >Resources &amp; Tools</a>
            </li>
            <li class='' role='presentation' id='ref_1119' >
              <a class='' href='/genomeconnect/' title='' >GenomeConnect</a>
            </li>
            <li class='' role='presentation' id='ref_1001' >
              <a class='' href='/about/' title='' >About</a>
            </li>
            <li class='' role='presentation' id='ref_5396' >
              <a class='' href='/share-your-data/' title='' >How to share your data</a>
            </li>
            <li class='' role='presentation' id='ref_5397' >
              <a class='' href='/curation-starts-here/' title='' >Learn about ClinGen curation activities</a>
            </li>            </ul>
      </div>
      <div id='header_search' class="input-group">
        <input type="text" class="form-control" placeholder="Search for genes, diseases, variants, and more...
                                                             ">
        <span class="input-group-btn">
          <a href='/curated-search/query/' class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
        </span>
      </div>
      <nav id='nav_primary' class=" hidden-sm hidden-xs">
        <ul class='nav nav-pills pull-right'>
          <li class='' role='presentation' id='ref_5297' >
            <a class='' href='/clingen-tools/' title='' >Resources &amp; Tools</a>
          </li>
          <li class='' role='presentation' id='ref_1119' >
            <a class='' href='/genomeconnect/' title='' >GenomeConnect</a>
          </li>
          <li class='' role='presentation' id='ref_1001' >
            <a class='' href='/about/' title='' >About</a>
          </li>
          <li class='' role='presentation' id='ref_5396' >
            <a class='' href='/share-your-data/' title='' >How to share your data</a>
          </li>
          <li class='' role='presentation' id='ref_5397' >
            <a class='' href='/curation-starts-here/' title='' >Learn about ClinGen curation activities</a>
          </li>          </nav>
      
    </div>
  </div>
</div>



<div id="home_knowledge_search" class="container container-trans">
  <div class="row">
    
    <div class="col-sm-12 curated-stats">
      <h2>Defining the clinical relevance of genes &amp; variants for precision medicine and research...</h2>      </div>
    <div class="col-sm-8 col-sm-offset-2 curated-stats">
      <div class="col-sm-3">
        <h1><a href="/clingen-tools-and-work-products/clingen-curated/" class="count">785</a></h1>
        <a href="/clingen-tools-and-work-products/clingen-curated/">Curated Genes</a>
      </div>
      <div class="col-sm-3">
        <h1><a href="/clingen-tools-and-work-products/clingen-curated/" class="count">275</a></h1>
        <a href="/clingen-tools-and-work-products/clingen-curated/">Curated Conditions</a>
      </div>
      <div class="col-sm-3">
        <h1><a href="/expert-groups/" class="count">10</a></h1>
        <a href="/expert-groups/">Expert Panels</a>
      </div>
      <div class="col-sm-3">
        <h1><a href="/curated-search/query/"><i class="glyphicon glyphicon-search curated-stats-search"></i></a></h1>
        <a href="/curated-search/query/">Search</a>
      </div>
    </div>
  </div>
</div>
