<div id="home_index" class="container">

<% if(params.has_key?(:term)) %>
	
  <%= render "gene_results" %>
  <%= render "condition_results" %>
  <%= render "drug_results" %>
    
<% else %>
    <%= render "shared/splash_curated_facts" %>
<% end %>    
  

</div>
