# Before applying any intermediate caching:

Writing log file to: /Users/tristan/Desktop/jmeter.log
Creating summariser <summary>
Created the tree successfully using cg-search.jmx
Starting the test @ Sat Mar 18 12:57:35 EDT 2017 (1489856255185)
Waiting for possible Shutdown/StopTestNow/Heapdump message on port 4445
summary +      1 in 00:00:01 =    1.7/s Avg:   230 Min:   230 Max:   230 Err:     1 (100.00%) Active: 6 Started: 6 Finished: 0
summary +     34 in 00:00:24 =    1.4/s Avg:  5737 Min:   203 Max: 15861 Err:     9 (26.47%) Active: 10 Started: 10 Finished: 0
summary =     35 in 00:00:25 =    1.4/s Avg:  5580 Min:   203 Max: 15861 Err:    10 (28.57%)
summary +    333 in 00:00:30 =   11.1/s Avg:   992 Min:   107 Max: 18374 Err:    20 (6.01%) Active: 10 Started: 10 Finished: 0
summary =    368 in 00:00:55 =    6.7/s Avg:  1428 Min:   107 Max: 18374 Err:    30 (8.15%)
summary +     72 in 00:00:18 =    4.0/s Avg:  2052 Min:   204 Max: 10776 Err:     0 (0.00%) Active: 0 Started: 10 Finished: 10
summary =    440 in 00:01:13 =    6.0/s Avg:  1530 Min:   107 Max: 18374 Err:    30 (6.82%)
Tidying up ...    @ Sat Mar 18 12:58:48 EDT 2017 (1489856328152)
... end of run


