<div id="gene_validity_show" class="container">
  <h2>Gene Validity Classification Summary</h2>




<div class="row geneValidityScoresWrapper">
<div class="col-sm-12">
<div class="content-space content-border">

  <% if @assertionScoreJsonGci.present? %>
    <% if @assertion[:jsonMessageVersion] == "GCI.6" %>
      <%= render 'gci-6'%>
    <% else %>
      <%= render 'gci'%>
    <% end %>
  <% elsif @assertionScoreJsonSop5.present? %>
    <%= render 'sop5'%>
  <% else %>
    <%= render 'sop4'%>
  <% end %>
					
</div>
</div>
</div>
  <% #@assertionScoreJsonPretty %>

</div>


