<!-- TODO create search result -->

<div class="row margin-bottom-sm query-result query-result-not-curated " id="result_OMIM109800">
  <div class="col-sm-8">
    <h4 class="margin-top-none"><a href="/curated-search/query/OMIM109800">BLADDER CANCER</a></h4>
    <div>
      <a href="/curated-search/query/OMIM109800" class="text-success">/curated-search/query/OMIM109800</a> <span class="badge text-xs">condition</span>
    </div>
    <div class="text-sm text-muted">
      Synonyms:
    </div>
  </div>
  <div class="col-sm-2 text-right text-tight text-sm text-muted">date last reviewed
    <!-- TODO enter date last reviewed -->
  </div>
  <div class="col-sm-2"><div class="col-sm-3 padding-right-none">
    <a href="/curated-search/OMIM109800" title="Clinical Actionability ">
      <img src="/site/templates/assets/brand/icons-interface/clinicalActionability-off.png" class="img-responsive" alt="Clinical Actionability">
    </a>
  </div><div class="col-sm-3 padding-right-none">
    <a href="/curated-search/OMIM109800" title="Clinical Validity ">
      <img src="/site/templates/assets/brand/icons-interface/clinicalValidity-off.png" class="img-responsive" alt="Clinical Validity">
    </a>
  </div><div class="col-sm-3 padding-right-none">
    <a href="/curated-search/OMIM109800" title="Dosage Sensitivity ">
      <img src="/site/templates/assets/brand/icons-interface/dosageSensitivity-off.png" class="img-responsive" alt="Dosage Sensitivity">
    </a>
  </div></div>
  <hr class="col-sm-12">
</div>
