
<%
## MIGHT AS WELL TRY PAGINATION BUT HAVE IT TRY TO SHOW 1500 to show all for now
%>

<div class='btn btn-primary'>Curated Genes </div>

<table class="table">
  <thead>
    <tr>
      <th>Gene</th>
      <th>Gene-Disease Clinical Validity Classifications</th>
      <th>Actionability Evidence-Based Summaries</th>
      <th>Dosage Sensitivity Map - Haploinsufficiency</th>
      <th>Dosage Sensitivity Map - Triplosensitivity</th>
    </tr>
  </thead>
  <tbody>
    <% @genes.each do |g| %>
      <tr>
        <th scope="row"><%= link_to g.symbol, g %></th>
        <td><!-- WRITE SCORE with link to gene --></td>
        <td><!-- WRITE "Summary Available" with link to gene --></td>
        <td><!-- WRITE SCORE with link to gene --></td>
        <td><!-- WRITE SCORE with link to gene --></td>
      </tr>
    <% end %>
  </tbody>
</table>
