asdasd<div id="knowledge_search_results" class="container container-trans knowledge_search">
  
  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    
    <div class="pull-right">
      <a href='#' class="text-white">Community Curation Project</a>
      <a href='#' class="btn btn-primary btn-sm btn-search-login">Register</a>
      <a href='#' class="btn btn-primary btn-sm btn-search-login">Login</a>
    </div>
    
    <li role="presentation" class="active">
      <a href="#summary" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
        Gene &amp; Curation Summary
      </a>
    </li> 
    <li role="presentation" class="">
      <a href="#variants" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
        Related Variants
      </a>
    </li>
    <!--<li role="presentation" class="">
         <a href="#summary" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
         Synomyms &amp; Ontological Relationships
         </a>
         </li>-->
    <li role="presentation" class="">
      <a href="#infobutton" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
        External Genomic Resources
      </a>
    </li>
  </ul>
</div>
<div id="summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="padding-top-xs"><strong>GENE123</strong> Gene Summary</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class='col-sm-6'>
            <dl class='dl-horizontal'>
              <dt>Official Name</dt>
              <dd>GENE1232</dd>
              <dt>Cytogenetic Location</dt>
              <dd>13q13.1</dd>
              <dt>Genomic Coordinates</dt>
              <dd>chr13: 32,889,617-32,973,809 (GRCh38)</dd>
              <dd>chr13: 32,889,617-32,973,809 (GRCh37)</dd>
            </dl>
          </div>
          <div class='col-sm-6'>
            <dl class='dl-horizontal'>
              <dt>ClinVar Variants</dt>
              <dd><a href="#variants" role="tab" data-toggle="tab" class="label label-primary">543</a></dd>
              <dt>Curated Conditions</dt>
              <dd><a href='#condition1' class="label label-primary">Breast cancer</a> <a href='#condition2' class="label label-primary">Gastric cancer</a></dd>
              <dt>Genomic Resources</dt>
              <dd><a href='#infobutton' role="tab" data-toggle="tab">12 external resources located</a></dd>
              <dt>GeneReviews&reg;</dt>
              <dd><a href="#">Learn more</a></dd>
            </dl>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-sm-12">
      <div class="">
        
        <h3>
          <a href='#' class="btn btn-xs btn-link pull-right margin-left-sm"><i class="glyphicon glyphicon-ok"></i> Follow</a>
          <a href='#' class="btn btn-xs btn-link pull-right margin-left-sm"><i class="glyphicon glyphicon-plus"></i> Community Curation Project</a>
          ClinGen Curation Summaries
          
        </h3>
        <div class="panel panel-default">
          <div class="panel-heading" id='results_curation_summary_heading'>
            
            
            <div class="row"><div class="col-sm-2">
              Condition
            </div>
            <div class="col-sm-10 ">
              <span class="border-left">ClinGen Curation Results</span>
            </div>
            </div>
          </div>
          <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">
            
            <div id='condition1' name='condition1' class="row">
              <div class="col-sm-2">
                <h4>Breast cancer</h4>
              </div>
              <div class="col-sm-10">
                <table class="table table-hover  border-left table-condensed">
                  <thead>
                    <tr>
                      <th class="col-sm-10" colspan="2">Clinical validity of GENE1232 and Breast cancer</th>
                      <th class="col-sm-2 text-center"><a class="btn btn-link btn-xs"><i class="glyphicon glyphicon-file"></i> View Details</a></th>
                    </tr>
                  </thead>
                  <thead class="thead-labels">
                    <tr>
                      <th class="col-sm-5">Classifications</th>
                      <th class="col-sm-5">Description</th>
                      <th class="col-sm-2 text-center">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Gene-disease association</td>
                      <td>Definitive association between GENE1232 and Breast cancer. </td>
                      <td class=" text-center"><span class="label label-success" title="Jun 02, 2016">
                        Definitive
                      </span></td>
                    </tr>
                    
                  </tbody><tbody>  
                  </tbody></table><hr />
                  <table class="table table-hover  border-left table-condensed">
                    <thead>
                      <tr>
                        <th class="col-sm-10" colspan="2">Dosage Sensitivity of GENE1232 and Breast cancer</th>
                        <th class="col-sm-2 text-center"><a class="btn btn-link btn-xs"><i class="glyphicon glyphicon-file"></i> View Details</a></th>
                      </tr>
                    </thead>
                    <thead class="thead-labels">
                      <tr>
                        <th class="col-sm-5">Sensitivity Classifications</th>
                        <th class="col-sm-5">Description</th>
                        <th class="col-sm-2 text-center">Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Haploinsufficiency</td>
                        <td>Sufficient evidence for dosage pathogenicity</td>
                        <td class=" text-center"><span class="label label-success" title="Jun 02, 2016">
                          3
                        </span></td>
                      </tr>
                      <tr>
                        <td>Triplosensitivity</td>
                        <td>No evidence available</td>
                        <td class=" text-center"><span class="label label-success" title="Jun 02, 2016">
                          0
                        </span></td>
                      </tr>
                      
                    </tbody><tbody>  
                    </tbody></table>
                  <hr />
                  <table class="table table-hover border-left table-condensed">
                    <thead>
                      <tr>
                        <th class="col-sm-10" colspan="5">Clinical Actionablity of GENE1232 and Breast cancer</th>
                        <th class="col-sm-2 text-center"><a class="btn btn-link btn-xs"><i class="glyphicon glyphicon-file"></i> View Details</a></th>
                      </tr>
                    </thead>
                    
                    <thead class="thead-labels ">
                      <tr>
                        <th class="col-sm-5">Outcome/Intervention Pair</td>
                          <th class="text-center">Severity</td>
                            <th class="text-center">Likelihood</td>
                              <th class="text-center">Effectiveness</td>
                                <th class="text-center">Intervention</td>
                                  <th class="text-center">Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Breast cancer/Surveillance	</td>
                        <td class=" text-center">2</td>
                        <td class=" text-center">3C</td>
                        <td class=" text-center">1B</td>
                        <td class=" text-center">2</td>
                        <td class=" text-center">
                          <span class="label label-success" title="Aug 08, 2016">
                            8CB
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>Breast cancer/Risk reducing mastectomy</td>
                        <td class=" text-center">2</td>
                        <td class=" text-center">3C</td>
                        <td class=" text-center">3A</td>
                        <td class=" text-center">0</td>
                        <td class=" text-center">
                          <span class="label label-success" title="Aug 08, 2016">
                            8CA
                          </span>
                        </td>
                      </tr>
                      
                    </tbody><tbody>  
                    </tbody></table>
              </div>
            </div>
            <hr class="results_curation_summary_details_spacer" />
            <div id='condition1' name='condition1' class="row">
              <div class="col-sm-2">
                <h4>Gastric Cancer</h4>
              </div>
              <div class="col-sm-10">
                <table class="table table-hover  border-left table-condensed">
                  <thead>
                    <tr>
                      <th class="col-sm-10">Clinical validity of GENE1232 and Gastric Cancer</th>
                      <th class="col-sm-2 text-center"><a class="btn btn-link btn-xs"><i class="glyphicon glyphicon-file"></i> View Details</a></th>
                    </tr>
                  </thead>
                  <thead class="thead-labels">
                    <tr>
                      <th class="col-sm-10">Summary</th>
                      <th class="col-sm-2 text-center">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Definitive</strong> association between GENE1232 and Gastric cancer. </td>
                      <td class=" text-center"><span class="label label-success" title="Jun 02, 2016">
                        Definitive
                      </span></td>
                    </tr>
                    
                  </tbody><tbody>  
                  </tbody></table>
                <hr />
                <table class="table table-hover border-left table-condensed">
                  <thead>
                    <tr>
                      <th class="col-sm-10" colspan="5">Clinical Actionablity of GENE1232 and Gastric Cancer</th>
                      <th class="col-sm-2 text-center"><a class="btn btn-link btn-xs"><i class="glyphicon glyphicon-file"></i> View Details</a></th>
                    </tr>
                  </thead>
                  
                  <thead class="thead-labels ">
                    <tr>
                      <th class="col-sm-5">Outcome/Intervention Pair</td>
                        <th class=" text-center">Severity</td>
                          <th class=" text-center">Likelihood</td>
                            <th class=" text-center">Effectiveness</td>
                              <th class=" text-center">Intervention</td>
                                <th class=" text-center">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Gastric cancer/Surveillance</td>
                      <td class=" text-center">2</td>
                      <td class=" text-center">3C</td>
                      <td class=" text-center">1B</td>
                      <td class=" text-center">2</td>
                      <td class=" text-center">
                        <span class="label label-success" title="Aug 08, 2016">
                          8CB
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Gastric cancer/Risk reducing gastrectomy</td>
                      <td class=" text-center">2</td>
                      <td class=" text-center">3C</td>
                      <td class=" text-center">3A</td>
                      <td class=" text-center">0</td>
                      <td class=" text-center">
                        <span class="label label-success" title="Aug 08, 2016">
                          8CA
                        </span>
                      </td>
                    </tr>
                  </tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
